# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment / secrets
.env
.env.*
*.env

# Mac files
.DS_Store

# Logs
*.log

# Test/cache folders
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/
